<!--
    Powered By nodePPT
    version: <%=version %>
    site: <%=site %>
-->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>nodePPT List</title>
    <style>
    body{
        width: 600px;
        margin: 0 auto;
        color:#2C3E50;
    }
    a{
        color:#1295D8;
        text-decoration: none;
    }
    ol, li{
        list-style:none;
        padding:0;
        margin:0;
    }
    ol{
        -webkit-text-shadow: 0 1px 0 rgba(255,255,255,.5);
        -moz-text-shadow: 0 1px 0 rgba(255,255,255,.5);
        -ms-text-shadow: 0 1px 0 rgba(255,255,255,.5);
        -o-text-shadow: 0 1px 0 rgba(255,255,255,.5);
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    li{
        font-size: 110%;
        font-weight: bold;
        padding: 1.5em;
        border-bottom:1px dashed #ccc;
    }
    li:hover{
        background-color: #eee;
    }

    .copyright{
        font-weight: normal;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 24px;
        position: fixed;
        bottom: 1em;
        left: 50%;
        margin-left: -74px;
    }
    .copyright a{
        color: #E76035;
    }

    </style>
</head>
<body>
    <h3>当前路径：<%-dir %></h3>
    <ol>
        <%- list %>
    </ol>
    <h4 class="copyright">Powered by <a title="使用NodePPT" href="<%=site%>" target="_blank">NodePPT <%=version%></a></h4>
</body>
</html>
