<!--
    Powered By nodePPT
    version: <%=version %>
    site: <%=site %>
-->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>nodePPT List</title>
    <style>
    body{
        width: 900px;
        margin: 0 auto;
        color: #2C3E50;
    }
    a{
        color:#4fc3f7;
        text-decoration: none;
    }
    ol, li{
        list-style:none;
        padding:0;
        margin:0;
    }
    ol{
        -webkit-text-shadow: 1px 1px 1px rgba(201, 201, 201, 0.5);
        -moz-text-shadow: 1px 1px 1px rgba(201, 201, 201, 0.5);
        -ms-text-shadow: 1px 1px 1px rgba(201, 201, 201, 0.5);
        -o-text-shadow: 1px 1px 1px rgba(201, 201, 201, 0.5);
        text-shadow: 1px 1px 1px rgba(201, 201, 201, 0.5);
    }
    li{
        font-size: 110%;
        font-weight: bold;
        padding: .75em 0;
        border-bottom:1px dashed #ccc;
    }
    li:hover{
        background-color: #eee;
    }

    .copyright{
        font-weight: normal;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 24px;
        position: fixed;
        bottom: 0.5em;
        right: 0.5em;
        margin-left: -74px;
    }
    .copyright a{
        color: #ea7373;
    }
    ol a.mult-link, ol a.socket-link{
        margin: 0 15px;
    }
    ol a.mult-link:before, ol a.socket-link:before{
        content: '[ ';
        color: black;
    }
    ol a.mult-link:after, ol a.socket-link:after{
        content: ' ]';
        color: black;
    }
    ol a.socket-link{
        margin: 0 ;
    }
    </style>
</head>
<body>
    <h4>当前路径：<%-dir %></h4>
    <ol>
        <%- list %>
    </ol>
    <h4 class="copyright">Powered by <a title="使用NodePPT" href="<%=site%>" target="_blank">NodePPT <%=version%></a></h4>
</body>
</html>
